/* AddProduct.css */
.add-product-page {
    background-color: #f5f5f5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-product-container {
    padding: 20px;
    max-width: 1200px;
    width: 100%;
    margin: 20px auto;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.backtohomepage {
    margin-bottom: 20px;
}

.back-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.back-button:hover {
    background-color: #0056b3;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
}

.form-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.image-section, .form-section {
    flex: 1;
    background-color: #fafafa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.image-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-label {
    margin-bottom: 10px;
    font-weight: bold;
}

.img-container {
    margin-top: 10px;
    text-align: center;
    position: relative;
}

.img-container img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

.remove-photo-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.remove-photo-button:hover {
    background-color: #d32f2f;
}

.form-section {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.add-product-form form {
    display: flex;
    flex-direction: column;
}

.form-label {
    margin-bottom: 15px;
    font-weight: bold;
    color: #555;
}

.add-product-form input,
.add-product-form select,
.add-product-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.add-product-form textarea {
    resize: vertical;
    height: 100px;
}

.submit-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.submit-button.loading {
    background-color: #ccc;
    cursor: not-allowed;
}

.submit-button:hover {
    background-color: #0056b3;
}
